*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body{
  font-family: 'Barlow', sans-serif;
}

.center{
    width: 75vw;
    margin: auto;
}
.nav-bar{
    background-image: url('../img/home-background-hero-scaled.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 880px;
    width: 100%;
}
.jumbotron{
    height: calc(100% - 150px);
}
.jumbo-cont{
    margin-top: 120px;

}
.jumbo-cont h2{
    font-size: 50px;
    color: white;
}
.jumbo-cont h1{
    font-size: 80px;
    color: white;
    font-weight: 900;
    
}
.jumbo-cont h1:first-of-type{
    color: #fcdc31;
}
.bottone{
    background-color: #ce1a26;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    border: 1px solid #ce1a26;
    cursor: pointer;
    
}
button:hover{
    background-color: #bf1e23;
}
button strong{
    margin-right: 5px;
}

.logo{
    display: flex;
    width: 40%;
    height: 150px;
    align-items: center;
    
}
.logo img{
    width: 60%;
}


.menu{
    width: 60%;
    height: 150px;
    display: flex;
    align-items: center;
    
}
.menu a{
    padding: 30px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}
.menu a:first-child{
    color: #fcdc31;
}
.menu a:hover{
    color: #fcdc31;

}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.square{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    top: 140px;
    position: fixed;
    background-color: white;
    color: #0d4f5c;
    padding: 7px;
    border-radius: 10%;
    text-align: center;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
.square small{
    font-weight: 900;
}


.square-two{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    top: 240px;
    position: fixed;
    background-color: white;
    color: #0d4f5c;
    padding: 7px;
    border-radius: 10%;
    text-align: center;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.2);
    animation: shake 0.5s;
    cursor: pointer;
}

.square-two small{
    font-weight: 900;
   
}


.add{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 100%;
    background-color: #ce1a26;   
    position: fixed;
    cursor: pointer;
}
.add > *{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 10px;
}
.option{
    position: relative;
    top:-30px;
    left: 50%;
    transform: translate(-66%);
    background-color: white;
}

.option ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.option li{
    padding: 40px;
}
.option small{
    color: #555454;
    font-weight: 600;
}
.titolo{
    margin-bottom: 40px;
    font-size: 22px;
}

.popular-cards{
    display: flex;
    justify-content: space-between;
}
.image-food{
    position: relative;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: relative;
}
.circle i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.add-cart{ 
    position: absolute;
    top: 53%;
    left: 55%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 1s;
    
}
.add-cart h3{
    margin-top: 10px;
    position: relative;
    left: 35%;
    transform: translateX(-50%);
}
.add-cart h3{
    color: white;
}
.image-food:hover .add-cart{
    opacity: 1;
}

.image-food:hover img {
  opacity: 0.9;
}


.card-food img{
    width: 370px;
    cursor: pointer;
    opacity: 1;
    
}
.card-food img:hover{
    filter: brightness(0.7);
    background-color: transparent;
    
}
.description-food{
    text-align: center;
}
.description-food h3{
    font-size: 30px;
    margin:20px 15px;
}

.description-food small{
    font-size: 18px;
    color:#cc1a26;
    
    
}
.text-center{
    text-align: center;
    margin-top: 20px;
}
.text-center button{
    margin: 40px 0;
}
.discount-20{
    height: 400px;
    margin: 80px 0;
}
/* .curved{
    background-image: url('../img/first-order-background-scaled.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */
.discount-20 img{
    width: 100%;
    height: 100%;
}

.container-categories{
    position: relative;
}
.container-categories h1{
    margin-top: 50px;
}
.container-categories button:last-child{
    position: absolute;
    top: 0;
    right: 0;
}
.cards-categories{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.cards{
    width: calc(100% / 4.2 );
    height: 240px ;
    margin: 10px 0px;
    position: relative;
}
.cards img{
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    cursor: pointer;
}
.cards h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.symbol{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
.app{
    height: 500px;
    background-image: url('../img/app-ordering-scaled.jpg');
    background-size: cover;
    margin-bottom: 50px;
}
.text-app{
    height: 500px;
    
}
.text-app h3{
    padding-top: 80px;
    margin-top: 100px;
    font-size: 35px;
    color: white;
}
.text-app  h1{
    font-size: 70px;
    color: #fcdc31;
    font-weight: 900;
    margin-bottom: 50px;

}
.store-image img{
    width: 170px;
    margin-right: 20px;
    cursor: pointer;
}
.news-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.news-one{
    width: 48%;
    text-align: center;
}
.news-one img{
    height: 400px;
    width: 100%;
    transition: 2s;
    
}
.news-one img:hover{
    filter: brightness(0.7);
}
.news-one h1{
    margin: 20px 0;
}

footer{
    height: 1300px;
    background-image: url('../img/footer-background-scaled.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.top-footer{
    height: 40%;
}
.bottom-footer{
    height: 60%;
    text-align: center;
    color: white;
    
}
.bottom-footer img{
    margin: 30px 0;
}
.bottom-footer h1{
    color:#fcdc31 ;
    font-size: 50px;
    margin: 20px 0;
}
.bottom-footer input{
    margin-top: 30px;
    width: 36%;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid white;
}
.bottom-footer input:last-child{
    background-color:#ce1a26 ;
    color: white;
    border: 1px solid #ce1a26;
    cursor: pointer;
    
}
.social-icons{
    color: white;
    margin: 40px 0;
    
}
.social-icons i{
    margin:20px 5px;
    cursor: pointer;
}

.social-icons i:hover{
    opacity: 0.5;
}
.bottom-footer small{
    color: #fcdc31;
}
.bottom-footer small:nth-child(2){
    color:white
}
.bottom-footer small:nth-child(1){
    color:white
}
.top-footer{
    width: 90vw;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
}
.top-footer ul li a{
    text-decoration: none;
    color: white;
}
.top-footer ul{
    list-style: none;
}
.top-footer li{
    margin: 15px 0;
}
.top-footer h3{
    margin-top: 50px;
}
.top-footer img{
    width: 80%;
}
ul:nth-child(2) li:nth-child(1) a{
    color:#fcdc31;
}
ul:last-child li{
    text-align: center;
}
ul:last-child li h1{
    color: #fcdc31;
}
ul:nth-child(4) li span{
    color: #fcdc31;

}
ul li a:hover{
    color: #fcdc31;

}
ul:last-child li a h2{
    color: white;
}

